@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-graish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*, *::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "League Spartan", sans-serif; /* 400, 500, 700*/
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 70%;
    background-position: top 0rem left 0rem, bottom 0rem right 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.main {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
    padding: 0px 1rem;
}

.text-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.texto {
    width: 90%;
}

.texto .title {
    font-size: 3.2rem;
    color: var(--very-dark-magenta);
    font-weight: 700;
    padding-right: 35px;
}

.sub {
    color: var(--very-dark-magenta);
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
}

.star-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.stars {
    width: 100%;
    max-width: 90%;
    padding: 1.1rem 1.1rem;
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: #f7f2f7; */
    background-color: var(--light-graish-magenta);
    border-radius: 15px;
}

.stars-campo {
    display: flex;
    gap: 10px;
}

.stars-campo .star {
    background-image: url(./images/icon-star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: flex;
}

.stars p {
    margin-left: 22px;
    color: var(--very-dark-magenta);
    font-weight: bold;
    font-size: 1.1rem;
}

.two {
    position: relative;
    left: 35px;
}

.three {
    position: relative;
    left: 70px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2.5rem 0rem;
}

.card {
    width: 100%;
    padding: 2rem 1.8rem;
    background-color: var(--very-dark-magenta);
    color: #fff;
    position: relative;
    border-radius: 15px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil h3 {
    font-weight: 600;
}

.perfil .name p {
    color: var(--soft-pink);
    font-weight: 500;
}

.perfil .img-perfil {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

.card .text-card {
    margin: 20px 0px;
}

.text-card p {
    line-height: 1.8;
    font-weight: 500;
}

.card-one {
    position: relative;
    top: 20px;
}

.card-two {
    position: relative;
    top: 40px;
}

@media screen and (max-width: 992px) {
    .main {
        gap: 1rem;
        height: auto;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .star-container {
        padding: 10px 0px;
    }

    .stars {
        max-width: 100%;
    }

    .two, .three {
        left: 0;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {

    body {
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat, no-repeat;
        background-size: 80%, 80%;
        background-position: top 0rem left 0rem, bottom 0rem right 2rem;
    }
    
    .text-content .texto {
        width: 100%;
    }

    .texto {
        text-align: center;
        margin: 3rem 0rem 1rem;
    }

    .texto .title {
        padding-right: 0;
        font-size: 2.5rem;
        line-height: 1;
    }

    .stars {
        flex-direction: column;
        padding: 1rem 0 0.8rem;
    }

    .stars-campo {
        margin-bottom: 15px;
    }

    .cards {
        margin-bottom: 30px;
    }
}
